# Dependabot will run on day 27 of each month at 03:48 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "48 3 27 * *"
    open-pull-requests-limit: 15
    assignees:
      - "simatec"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "48 3 27 * *"
    open-pull-requests-limit: 15
    assignees:
      - "simatec"
