# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

# No MacOS file system files
.DS_Store

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz
.commitinfo

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

# ioBroker dev-server
.dev-server/